
* {
    font-family: "Times New Roman", Times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #1a73e8;
    margin-bottom: 5px;
}

.container > p {
    text-align: center;
    margin-bottom: 20px;
}

.contact {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.contact a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 25px;
}

h2 {
    border-bottom: 2px solid #1a73e8;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #1a73e8;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}

p1 {
    display: block;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    margin: 30px 0;
}

button {
    background: #1a73e8;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #1557b0;
}

@media (max-width: 768px) {

    .container {
        margin: 20px;
        padding: 25px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }
}

.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.profile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit:contain ;
    border: 4px solid #1a73e8;
}

